server:
  port: 8081

spring:
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
  datasource:
    url: jdbc:h2:mem:teste_novo;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password: "sa"

  h2:
    console:
      enabled: true
      path: /console-teste
      settings:
        web-allow-others: true

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate.hbm2ddl.import_files: import.sql
    show-sql: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
  show-actuator: false